<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myoffersapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGYhOaXk6lsPUkiUZaLbnYubDL3FQu_gA" />

        <activity
            android:name=".DashBoardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VerificationActivity"
            android:label="@string/title_activity_verification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SecondaryDashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AskMobileNoActivity"
            android:label="@string/title_activity_ask_mobile_no"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="618bd18d436568778f101623d0f511f75cfc034c" />

        <activity
            android:name=".VendorsActivity"
            android:label="@string/title_activity_vendors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReferAndEarnTabActivity"
            android:label="@string/title_activity_refer_and_earn_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayDealsAcivity"
            android:label="@string/title_activity_display_deals_acivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleDealDispalyActivity"
            android:label="@string/title_activity_single_deal_dispaly"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".SmsBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DisplayQRCodeActivity"
            android:label="@string/title_activity_display_qrcode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OfferReviewActivity"
            android:label="@string/title_activity_offer_review"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewSingleDealActivity"
            android:label="@string/title_activity_new_single_deal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookmarkActivity"
            android:label="@string/title_activity_bookmark"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>